:root {
    --color-highlight: #3C48FF;

    --color-black: #101010;
    --color-gray: #909090;
    --color-white:#ffffff;

    --color-line: #F0F0F0;
    --color-background: #FAFAFA;

    --gap-section: 120px;

    --gap-xl: 80px;
    --gap-l: 60px;
    --gap-m: 40px;
    --gap-s: 20px;
    --gap-xs: 12px;

    --font-title-1: 48px;
    --font-title-2: 40px;
    --font-title-3: 32px;

    --font-l: 24px;
    --font-m: 20px;
    --font-s: 18px;

    --box-shadow: 0px 2px 24px #1010100D;
}

/* ---------------- 공통 영역 ---------------- */

::selection {
    background-color: var(--color-highlight);
    color: var(--color-white);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-width: 360px;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: var(--gap-section);
    padding-bottom: var(--gap-section);
}

.section-wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
}

.section-tag{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-highlight);
}

.section-title{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-title-2);
    font-weight: 800;
    color: var(--color-black);
    text-align: center;
    margin-top: var(--gap-s);
    word-break: keep-all;
    line-height: 150%;
}

.section-title > span{
    color: var(--color-highlight);
}

.section-desc{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    color: var(--color-black);
    text-align: center;
    line-height: 150%;
    word-break: keep-all;
    margin-top: var(--gap-m);
}

/* ---------------- 헤더 영역 ---------------- */

header{
    position: fixed;
    min-width: 360px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-line);
    background-color: var(--color-white);
    transition: 0.2s;
    z-index: 10;
}

.header-wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
}

.header-wrapper > img{
    height: 56px;
    cursor: pointer;
}

.header-wrapper > a{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: var(--color-highlight);
    text-align: center;
    padding: 12px 20px;
    border: 1px solid var(--color-highlight);
    border-radius: 40px;
    transition: 0.2s;
}

.header-wrapper > a:hover{
    color: var(--color-white);
    background-color: var(--color-highlight);
}

/* ---------------- 배너 영역 ---------------- */

#banner{
    height: 720px;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
}

#banner > .section-wrapper{
    justify-content: center;
    align-items: center;
}

#banner > .section-wrapper > h1{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-title-1);
    font-weight: 800;
    color: var(--color-white);
    line-height: 150%;
    word-break: keep-all;
    text-align: center;
}

#banner > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 500;
    color: var(--color-white);
    line-height: 150%;
    margin-top: var(--gap-m);
    margin-bottom: var(--gap-m);
    word-break: keep-all;
    text-align: center;
}

.btn-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-wrapper > a{
    padding: 16px 24px;
    border: 1px solid var(--color-white);
    border-radius: 48px;
    transition: 0.2s;
}

a.btn-hover, .btn-wrapper > a:hover{
    border: 1px solid var(--color-highlight);
    background-color: var(--color-highlight);
}

a.btn-hover:hover{
    opacity: 0.8;
}

.btn-wrapper > a:nth-of-type(1){
    margin-right: var(--gap-s);
}

.btn-wrapper > a > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-wrapper > a > div > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px;
}

.btn-wrapper > a > div > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-white);
}

/* ---------------- 슬로건 영역 ---------------- */

#slogan > .section-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#slogan > .section-wrapper > img{
    height: 20px;
}

#slogan > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 500;
    color: var(--color-highlight);
    text-align: center;
    font-style: italic;
    line-height: 150%;
    margin: 0 var(--gap-m);
}

/* ---------------- WHY RCS 영역 ---------------- */

#whyrcs{
    padding-top: 0;
}

#whyrcs > .section-wrapper{
    align-items: flex-start;
}

#whyrcs > .section-wrapper > div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-s);
    row-gap: var(--gap-m);
    margin-top: var(--gap-m);
}

#whyrcs > .section-wrapper > .section-title{
    text-align: left;
}

#whyrcs > .section-wrapper > div > .section-desc{
    margin-top: 0;
    text-align: left;
}

#whyrcs > .section-wrapper > div > img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

/* ---------------- LEADERS 영역 ---------------- */

#leaders{
    background-color: var(--color-background);
}

.leaders-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap-s);
    row-gap: var(--gap-xl);
    margin-top: var(--gap-xl);
}

.leader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.leader > img{
    max-width: 240px;
    max-height: 240px;
    width: 100%;
    border-radius: 50%;
}

.leader > h4{
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 800;
    color: var(--color-highlight);
    margin-top: var(--gap-m);
    text-align: left;
}

.leader > h5{
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    color: var(--color-gray);
    margin-top: 8px;
    text-align: left;
}

.leader > p{
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--color-black);
    margin-top: var(--gap-s);
    line-height: 150%;
    word-break: keep-all;
    text-align: left;
}

/* ---------------- ADMISSION 영역 ---------------- */

#admission > .section-wrapper{
    align-items: flex-start;
}

#admission > .section-wrapper > .section-desc{
    text-align: left;
}

.admission-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-s);
    row-gap: var(--gap-s);
    margin-top: var(--gap-xl);
}

.admission-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--color-white);
    border: 1px solid var(--color-line);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding-bottom: var(--gap-m);
}

.admission-item > img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.admission-item > h5{
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-highlight);
    padding: 0 var(--gap-m);
    text-align: left;
    margin-top: var(--gap-m);
}

.admission-item > h4{
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 800;
    color: var(--color-black);
    padding: 0 var(--gap-m);
    text-align: left;
    margin-top: 8px;
}

.admission-item > p{
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--color-black);
    padding: 0 var(--gap-m);
    line-height: 150%;
    text-align: left;
    word-break: keep-all;
    margin-top: var(--gap-s);
}

.admission-item > a{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: var(--color-highlight);
    border: 1px solid var(--color-highlight);
    border-radius: 40px;
    padding: 12px 20px;
    margin-right: var(--gap-m);
    margin-left: var(--gap-m);
    margin-top: var(--gap-s);
    transition: 0.2s;
}

.admission-item > a:hover{
    color: var(--color-white);
    background-color: var(--color-highlight);
}

/* ---------------- CURRICULUM 영역 ---------------- */

#curriculum{
    background-color: var(--color-background);
}

.curriculum-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap-s);
    row-gap: var(--gap-s);
    margin-top: var(--gap-xl);
}

.curriculum-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-white);
    border: 1px solid var(--color-line);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding-bottom: var(--gap-m);
    border-bottom: var(--gap-s) solid var(--color-highlight);
}

.curriculum-item > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.curriculum-item > h4 {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 800;
    color: var(--color-highlight);
    padding: 0px var(--gap-m);
    margin-top: var(--gap-m);
}

.curriculum-item > p {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--color-black);
    line-height: 150%;
    padding: 0px var(--gap-m);
    margin-top: var(--gap-s);
    word-break: keep-all;
}

.curriculum-summary{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gap-m);
    background-color: var(--color-white);
    border: 2px solid var(--color-highlight);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-top: var(--gap-m);
}

.curriculum-summary > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    color: var(--color-black);
    line-height: 150%;
    text-align: center;
}

.curriculum-summary > p > br{
    display: none;
}

.curriculum-summary > p > span{
    font-size: var(--font-l);
    font-weight: 800;
    color: var(--color-highlight);
}

/* ---------------- FACILITY 영역 ---------------- */

#facility > .section-wrapper{
    align-items: flex-start;
}

#facility > .section-wrapper > .facility-title-wrapper > .facility-desc > .section-title,
#facility > .section-wrapper > .facility-title-wrapper > .facility-desc > .section-desc{
    text-align: left;
}

#facility > .section-wrapper > .facility-title-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-s);
    place-items: center;
}

#facility > .section-wrapper > .facility-title-wrapper > img{
    max-width: 240px;
    max-height: 240px;
    object-fit: contain;
}

.facility-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap-s);
    row-gap: var(--gap-s);
    margin-top: var(--gap-xl);
}

.facility-wrapper > img{
    width: 100%;
    border-radius: 8px;
}

/* ---------------- SUMMER CAMP 영역 ---------------- */

#summercamp{
    background-color: var(--color-background);
}

.swiper{
    width: 100%;
    margin-top: var(--gap-xl);
}

.swiper-wrapper{
    width: 100%;
}

.swiper-slide{
    width: 100%;
}

.swiper-slide > img{
    width: 100%;
    border-radius: 8px;
}

.swiper-pagination{
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    margin-top: var(--gap-xl);
}

.swiper-pagination-bullet {
    width: var(--gap-s);
    height: var(--gap-s);
    background: var(--color-gray);
}

.swiper-pagination-bullet-active {
    background: var(--color-highlight);
}

/* ---------------- SUMMER CAMP APPLY 영역 ---------------- */

#summercamp-apply{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gap-l) 0px;
    background-color: var(--color-highlight);
}

#summercamp-apply > .section-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#summercamp-apply > .section-wrapper > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 500;
    color: var(--color-white);
    word-break: keep-all;
    line-height: 150%;
}

#summercamp-apply > .section-wrapper > p > span{
    font-weight: 800;
}

#summercamp-apply > .section-wrapper > a{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-white);
    padding: 16px 24px;
    border-radius: 48px;
    border: 1px solid var(--color-white);
    transition: 0.2s;
}

#summercamp-apply > .section-wrapper > a:hover{
    color: var(--color-highlight);
    background-color: var(--color-white);
}

/* ---------------- OPEN HOUSE 영역 ---------------- */

.openhouse-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: var(--gap-m);
}

.openhouse-wrapper > img{
    max-width: 630px;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.openhouse-wrapper > a{
    max-width: 630px;
    width: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    text-align: center;
    padding: 16px 24px;
    border-radius: 48px;
    border: 1px solid var(--color-highlight);
    transition: 0.2s;
}

.openhouse-wrapper > a:nth-of-type(1){
    color: var(--color-white);
    background-color: var(--color-highlight);
    margin-top: var(--gap-m);
}

.openhouse-wrapper > a:nth-of-type(2){
    color: var(--color-highlight);
    margin-top: var(--gap-s);
}

.openhouse-wrapper > a:nth-of-type(1):hover{
    opacity: 0.8;
}

.openhouse-wrapper > a:nth-of-type(2):hover{
    color: var(--color-white);
    background-color: var(--color-highlight);
    margin-top: var(--gap-s);
}

/* ---------------- FOOTER 영역 ---------------- */


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #162F59;
    padding: var(--gap-l) 0;
}

.footer-wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
}

.footer-wrapper > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    line-height: 150%;
    opacity: 0.6;
    word-break: keep-all;
}

.footer-wrapper > p a{
    color: var(--color-white);
    opacity: 0.6;
    text-decoration: none;
}

.footer-wrapper > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: var(--gap-s);
}

.footer-wrapper > div > a > img{
    width: 24px;
    opacity: 0.6;
}

.footer-wrapper > div > a:nth-of-type(1){
    margin-right: 8px;
}

@media screen and (max-width: 1320px) {
    
    #facility > .section-wrapper > .facility-title-wrapper {
        grid-template-columns: 1fr;
        place-items: start;
    }

    .facility-title-wrapper > img{
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --gap-section: 100px;

        --gap-xl: 72px;
        --gap-l: 54px;
        --gap-m: 36px;
        --gap-s: 18px;
        --gap-xs: 10px;
    
        --font-title-1: 40px;
        --font-title-2: 34px;
        --font-title-3: 28px;
    
        --font-l: 22px;
        --font-m: 19px;
        --font-s: 17px;
    }

    #banner{
        height: 640px;
    }

    #whyrcs > .section-wrapper > div{
        grid-template-columns: 1fr;
    }

    #whyrcs > .section-wrapper > div > img{
        max-width: 630px;
    }

    .curriculum-wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .facility-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --gap-section: 80px;

        --gap-xl: 64px;
        --gap-l: 48px;
        --gap-m: 32px;
        --gap-s: 16px;
        --gap-xs: 8px;
    
        --font-title-1: 32px;
        --font-title-2: 28px;
        --font-title-3: 24px;
    
        --font-l: 20px;
        --font-m: 18px;
        --font-s: 16px;
    }

    #banner{
        height: 560px;
    }

    .leaders-wrapper{
        grid-template-columns: 1fr;
    }

    .admission-wrapper {
        grid-template-columns: 1fr;
    }

    .curriculum-wrapper{
        grid-template-columns: 1fr;
    }

    .facility-wrapper{
        grid-template-columns: 1fr;
    }

    #summercamp-apply > .section-wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #summercamp-apply > .section-wrapper > a{
        margin-top: var(--gap-s);
    }

    .btn-wrapper > a{
        padding: 14px 20px;
    }
    
    #summercamp-apply > .section-wrapper > a{
        padding: 14px 20px;
    }
    
    .openhouse-wrapper > a{
        padding: 14px 20px;
    }
}

@media screen and (max-width: 576px) {
    .section-desc > br:not(.not-hidden){
        display: none;
    }

    .header-wrapper > a > span{
        display: none;
    }

    #banner > .section-wrapper > h1 > span{
        display: none;
    }

    #banner > .section-wrapper > h2 > br:not(.not-hidden){
        display: none;
    }

    .btn-wrapper > a > div > p > span{
        display: none;
    }

    #slogan > .section-wrapper > img{
        height: 16px;
    }

    #slogan > .section-wrapper > h2{
        font-size: var(--font-m);
        margin: 0 var(--gap-s);
    }

    .curriculum-summary > p > br{
        display: block;
    }

    .admission-item > h5{
        padding: 0 var(--gap-s);
    }

    .admission-item > h4{
        padding: 0 var(--gap-s);
    }

    .admission-item > p{
        padding: 0 var(--gap-s);
    }

    .admission-item > a{
        margin-right: var(--gap-s);
        margin-left: var(--gap-s);
    }

    .curriculum-item > h4 {
        padding: 0 var(--gap-s);
    }

    .curriculum-item > p {
        padding: 0 var(--gap-s);
    }

}